<%- include('../partial/head')%>
<%- include('../partial/header')%>

<div class="media">
		<img class="mr-3" src="https://i.pinimg.com/originals/ee/12/72/ee1272ce146c4c5c5e5c30163a20302d.jpg" alt="Generic placeholder image">
		<div class="media-body">
			<h5 class="mt-0"><%=user[0]['firstname']%> <%=user[0]['lastname']%></h5>
			<div class='age'><%=user[0]['age']%>18 ans</div>
			<h6>Description</h6>
		
		  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
		  
        </div>
      </div>
<br/>

<!-- <div class="container"> -->
	<div class="row">
		<div class="col-sm">
			<h6>Description</h6>
			<%=user[0]['firstname']%>
		</div>
		<div class="col-sm">
			<h6>Description</h6>
			<%=user[0]['lastname']%>
		</div>
		<div class="col-sm">
			<h6>Description</h6>
			<%=user[0]['username']%>
		</div>
		<div class="col-sm">
			<%=user[0]['email']%>
		</div>
	</div>
  <!-- </div> -->


<h2>Hello world !</h2>
<!-- </body> -->
 <!-- <h1>BYE BYE WORLD</h1> -->


<!-- request.session.user -->

<% include ../partial/footer.ejs%>